.cart{
    border: 1px solid lightgray;
    height: 200px;
    width: 250px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    
}
.cart h1{
    color: red;
}